
.card
  .card-header League Partners
  %ul.list-group.list-group-flush
    %li.list-group-item
      = link_to 'https://au.serveme.tf', target: 'blank', rel: :noopener do
        serveme
    %li.list-group-item
      = link_to 'https://twitch.tv/kritzkast', target: 'blank', rel: :noopener do
        KritzKast
    %li.list-group-item
      = link_to 'https://twitch.tv/CappingTV', target: 'blank', rel: :noopener do
        CappingTV
    %li.list-group-item
      = link_to 'https://callouts.tf', target: 'blank', rel: :noopener do
        callouts.tf

%br

.card
  .card-header Socials
  %ul.list-group.list-group-flush
    %li.list-group-item
      = link_to 'https://discord.gg/7E6kC2H', target: '_blank', rel: :noopener do
        = image_tag 'discord-logo.png', width: 32
        Join our Discord
    %li.list-group-item
      = link_to 'http://twitter.com/ozfortress', target: '_blank', rel: :noopener do
        = image_tag 'twitter-logo.svg', width: 32
        Follow us on X
    %li.list-group-item
      = link_to 'https://www.patreon.com/ozfortress/', target: '_blank', rel: :noopener do
        = image_tag 'patreon-logo.png', height: 32
        Support us on Patreon
    %li.list-group-item
      = link_to 'https://www.youtube.com/channel/UCKnMgeTAHzdttd8TXE9UOgw', target: '_blank', rel: :noopener do
        = image_tag 'youtube-logo.png', width: 32
        Subscribe to us on YouTube
    %li.list-group-item
      = link_to 'http://steamcommunity.com/groups/ozfortress', target: '_blank', rel: :noopener do
        = image_tag 'steam/steam-logo.png', width: 32
        Join our Steam Group
    %li.list-group-item
      = link_to 'http://facebook.com/ozfortress', target: '_blank', rel: :noopener do
        = image_tag 'facebook-logo.png', width: 32
        Like us on Facebook
