!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    - viewport = 'width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
    %meta{ name: 'viewport', content: viewport }
    %title= (content_for :title) || 'ozfortress'
    %meta{ content: 'ozfortress - The home of competitive Team Fortress 2 in Asia-Pacific. Free to play!',
           name:    'description' }/
    %meta{ content: "#{content_for :title} - ozfortress", property: 'og:title' }/
    %meta{ content:  'ozfortress - The home of competitive Team Fortress 2 in Asia-Pacific. Free to play!',
           property: 'og:description' }/
    %meta{ content: 'website', property: 'og:type' }/
    %meta{ content: asset_path('logo-small.svg').to_s, property: 'og:image' }/
    %meta{ content: '#00abba', name: 'theme-color' }/
    %link{ href: asset_path('logo-small.svg').to_s, rel: 'icon', sizes: '40x63' }/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    :javascript
      document.addEventListener('DOMContentLoaded', function() {
        const darkModeToggle = document.getElementById('dark-mode-toggle');
        const darkModeSun = document.querySelector('.dark-mode-sun');
        const darkModeMoon = document.querySelector('.dark-mode-moon');
        const siteLogo = document.getElementById('site-logo');
        const logoSmall = "#{asset_path 'logo-small.svg'}";
        const logoDark = "#{asset_path 'logo-dark.svg'}";
        
        const prefersDarkScheme = window.matchMedia('(prefers-color-scheme: dark)');
        
        function setDarkMode(isDark) {
          if (isDark) {
            document.documentElement.classList.add('dark-mode');
            darkModeSun.classList.add('d-none');
            darkModeMoon.classList.remove('d-none');
            siteLogo.setAttribute('src', logoDark);
          } else {
            document.documentElement.classList.remove('dark-mode');
            darkModeSun.classList.remove('d-none');
            darkModeMoon.classList.add('d-none');
            siteLogo.setAttribute('src', logoSmall);
          }
        }
        
        // Check if user has a stored preference, otherwise use system preference
        if(localStorage.getItem('darkMode') !== null) {
          setDarkMode(localStorage.getItem('darkMode') === 'true');
        } else {
          setDarkMode(prefersDarkScheme.matches);
        }
        
        // Set up toggle functionality
        if(darkModeToggle) {
          darkModeToggle.addEventListener('click', function() {
            const isDarkMode = document.documentElement.classList.contains('dark-mode');
            setDarkMode(!isDarkMode);
            localStorage.setItem('darkMode', !isDarkMode);
          });
        }
      });
    = content_for :head
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-dark.bg-dark.fixed-top.align-items-stretch.navbar-expand-lg
      %button.navbar-toggler{ type: :button, data: { toggle: 'collapse', target: '#main-menu' },
                              class: 'btn border-0 mr-2 p-2 order-0',
                              area: { controls: 'main-menu', expanded: 'false', label: 'Toggle main menu' } }
        %span.navbar-toggler-iconbtn-sm.btn-outline-light{type: "button"}

      = link_to('/', class: 'navbar-brand order-2') do
        = image_tag 'logo-small.svg', height: '40px', width: '63px', id: 'site-logo'

      - if user_signed_in?
        .d-flex.align-items-center.position-relative.ml-auto.order-4
          = render 'notifications_dropdown', notifications: @notifications
          .dark-mode-toggle.mr-3
            %button#dark-mode-toggle.btn.btn-link.p-0.text-light{type: "button"}
              %i.fa.fa-sun-o.dark-mode-sun
              %i.fa.fa-moon-o.dark-mode-moon.d-none
          = render 'user_dropdown'
      - else
        .d-flex.align-items-center.position-relative.ml-auto.order-4
          .dark-mode-toggle.mr-3
            %button#dark-mode-toggle.btn.btn-link.p-0.text-light{type: "button"}
              %i.fa.fa-sun-o.dark-mode-sun
              %i.fa.fa-moon-o.dark-mode-moon.d-none
          = render 'user_signin'

      .collapse.navbar-collapse.order-6.order-lg-3#main-menu
        %ul.navbar-nav= render 'navbar'

    .container.my-3#content
      .row
        .col-md-9
          = render 'flashes'
          = yield
        .col-md-3
          = render 'sidebar'
